.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


/* ----- FONTS ------ */

@font-face {
    font-family: manrope light;
    src: url("fonts/static/Manrope-Light.ttf");
}

@font-face {
    font-family: manrope bold;
    src: url("fonts/static/Manrope-Bold.ttf");
}

@font-face {
    font-family: manrope medium;
    src: url("fonts/static/Manrope-Medium.ttf");
}

@font-face {
    font-family: manrope extraBold;
    src: url("fonts/static/Manrope-ExtraBold.ttf");
}


/* ------ BACKGROUND ------- */

body{
    background-image: url("images/bg-pattern.svg");
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-color: hsl(230, 100%, 99%);
}

#bg-pattern{
    width: 100%;
    position: absolute;
    z-index: 0;
}

/* ----- Title ----- */

#bg-circle{
    position: absolute;
    left: 50%;
    margin-left: -73px;
    margin-top: -45px;
    z-index: -1;
}

#title{
    height: 160px;
    width: 400px;
    position: relative;
    margin: auto;
    margin-top: 100px;
    text-align: center;
}

#title h1{
    font-family: manrope extraBold;
    font-size: 27px;
    margin-bottom: 15px;
    color: hsl(227, 35%, 25%);
}

#title h2{
    font-family: manrope light;
    font-size: 15px;
    color: hsl(225, 20%, 60%);
    margin-top: 0px;
}


/* ----- CONTENT ----- */

#content{
    width: 500px;
    height: 430px;
    background-color: hsl(0, 0%, 100%);
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
    font-family: manrope medium;
}

#content_price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#p_views{
    color: hsl(225, 20%, 60%);
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.2rem;
}

#price{
    color: hsl(227, 35%, 25%);
    font-size: 40px;
    font-weight: bold;
    margin-right: 10px;
}

#p_price{
    display: flex;
    align-items: center;
    color: hsl(225, 20%, 60%);
}

/* ----- SLIDER ---- */

#range_views {
    height: 48px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
    margin-top: -31px;
    background-color: transparent;
}

#range_views:focus {
    outline: none;
}

#range_views::-webkit-slider-runnable-track{
    width: 100%;
    height: 8px;
    cursor: pointer;
    content: "";
    border-radius: 5px;
    background-color: transparent;
}

#range_views::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    content: "";
    border-radius: 5px;
    background-color: transparent;
}

#range_views::-webkit-slider-thumb{
    box-shadow: 0px 15px 20px hsl(174, 77%, 80%);
    height: 36px;
    width: 36px;
    border-radius: 50px;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
    background: hsl(174, 86%, 45%) url("images/icon-slider.svg") no-repeat;
    background-position-x: 7px;
    background-position-y: 12px;
    cursor: pointer;
}

#range_views::-moz-range-thumb{
    box-shadow: 0px 15px 20px hsl(174, 77%, 80%);
    height: 36px;
    width: 36px;
    border-radius: 50px;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
    background: hsl(174, 86%, 45%) url("images/icon-slider.svg") no-repeat;
    background-position-x: 7px;
    background-position-y: 12px;
    cursor: pointer;
}

#progress_bar{
    width: 100%;
    height: 8px;
    cursor: pointer;
    content: "";
    border-radius: 5px;
    margin-top: 40px;
}

progress::-webkit-progress-bar {
    background: hsl(224, 65%, 95%);
}

progress::-moz-progress-bar {
    background: hsl(174, 77%, 80%);
}

progress::-webkit-progress-value {
    background: hsl(174, 77%, 80%);
}

/** ----- DURATION ----- **/

#duration{
    margin-top: 40px;
    color: hsl(225, 20%, 60%);
    text-align: right;
    font-size: 14px;
}

#month_choice_text{
    margin-right: 15px;
}

#discount_text{
    color: hsl(15, 100%, 70%);
    background-color: hsl(14, 92%, 95%);
    padding: 1px 8px;
    border-radius: 10px;
    font-weight: bold;
    margin-left: 10px;
    font-size: 11px;
}

hr{
    margin-top: 50px;
    width: 600px;
    margin-left: -50px;
    border: 1px solid #f5f5f5;
}

/* Switch */

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 21px;
    margin-right: 15px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: hsl(174, 86%, 45%);
}

input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

/** ----- EXPLICATIONS ----- **/

#explications{
    display: flex;
    font-size: 15px;
    color: hsl(225, 20%, 60%);
    margin-top: 20px;
}

.img_checked{
    background-image: url("images/icon-check.svg");
    width: 9px;
    height: 8px;
    display: inline-block;
    margin-right: 12px;
}

/* button trial */

#button_start_trial a{
    text-decoration: none;
    border: 0 none;
    color: hsl(0, 0%, 76%);
}

#button_start_trial:hover a{
    color: white;
}

#button_start_trial{
    background-color: hsl(227, 35%, 25%);
    height: 30px;
    width: 165px;
    text-align: center;
    border-radius: 25px;
    padding-top: 10px;
    font-size: 13px;
    cursor: pointer;
    margin-top: 40px;
    margin-left: 140px;
}

/* ----- MEDIA QUERIES ----- */

/* + 1444 */

@media (min-width: 1444px){

    body{
        background-size: 100%;
    }
}

@media (max-width: 620px){

    #content{
        width: 360px;
    }

    #checked_explications{
        width: 175px;
    }

    #button_start_trial{
        margin-left: 20px;
    }
}

@media (max-width: 475px)
{
    #content{
        width: 240px;
        height: 500px;
    }

    hr{
        width: 340px;
    }

    #content_price{
        display: flex;
        flex-direction: column;
    }

    #p_price{
        margin-top: 60px;
    }

    #slider{
        margin-top: -140px;
    }

    #duration{
        margin-top: 93px;
    }

    #title{
        width: 340px;
    }

    #title h1{
        font-size: 22px;
    }

    #title h2{
        width: 205px;
        margin-left: 60px;
        font-size: 14px;
    }

    #duration{
        text-align: initial;
        width: 305px;
        margin-left: -24px;
    }

    #hide_discount{
        display: none;
    }

    #explications{
        flex-direction: column;
        text-align: center;
    }

    #checked_explications{
        margin: -5px auto auto;
    }

    #checked_explications p{
        margin-bottom: -11px;
    }

    #button_start_trial{
        margin: 40px auto auto;
    }
}